{% extends "base.html" %}
{% block content %}
    <div class="top-content">

		<!-- Center Column -->
		<div class="container white-back">
			<h3 class="blue">{{ course.name }}</h3>
			<hr>	
			<!-- Articles -->
            <div
                <p><strong>老师：</strong><a href="/teacher/{{ course.teacher.id }}">{{ course.teacher.name }}</a></p>
                <p><strong>课程类别：</strong><a href="/type/{{ course.course_type.id }}">{{ course.course_type }}</a></p>
                <p><strong>课程简介：</strong>{{ course.profile }}</p>
            </div>
            <div>
                <h3 class="blue">点评</h3>
                <a href="#" class="btn btn-default">写评论</a>
                <hr>
            </div>
			{% for review in reviews %}
			<div class="row">
				<article class="col-xs-12">
					<p class="pull-right"> {{ review.publish_time }}</p>
                    <p><a href="#">{{ review.guest }}</a></p>
					</br>
					<p>{{ review.content| safe}}</p>
				</article>
			</div>
			<hr>
            {% endfor %}
		</div><!--/Center Column-->
	    <!-- Right Column -->
	</div><!--/top-content-->
	<div height=120px>
	</div>
{% endblock %}
