{% extends "base.html" %}
{% block content %}
    <div class="top-content">

		<!-- Center Column -->
		<div class="container white-back">
			<h3 class="blue">最新评论</h3>
			<hr>	
			<!-- Articles -->
			{% for review in reviews %}
			<div class="row">
				<article class="col-xs-12">
					<p class="pull-right"> {{ review.publish_time }}</p>
					<p><a href="/type/{{ review.course.course_type }}/">{{ review.course.course_type }}</a>
					<a href="/course/{{ review.course.id }}/">{{ review.course.name }}({{ review.course.teacher.name }})</a></p>
					</br>
					<p>{{ review.content|truncatechars_html:200 | safe}}<a href="/review/{{ review.id }}">>>More</a></p>
				<!--	<p><button class="btn btn-default">Read More</button></p>	-->
				</article>
			</div>
			<hr>
            {% endfor %}
		</div><!--/Center Column-->
	    <!-- Right Column -->
	</div><!--/top-content-->
	<div height=120px>
	</div>
{% endblock %}
