<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Portal 1</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wall">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <!-- Logo and responsive toggle -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span> Logo</a>
                </div>
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="about-us">
                                <li><a href="#">Engage</a></li>
                                <li><a href="#">Pontificate</a></li>
                                <li><a href="#">Synergize</a></li>
                            </ul>
                        </li>    
                    </ul>

                    <!-- Search -->
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right ">
                        <li><button class="btn btn-default navbar-btn" href="login">Login</li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <div class="top-content">

            <!--/Left Column-->
    
    
            <!-- Center Column -->
            <div class="container white-back">
                <h3 class="blue">Register</h3>
                <hr>	
        
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
            {{ msgpd }}
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                        <input type="text" class="form-control" id="username">{{ form.msgun }}<button type="submit" class="btn btn-default">Check</button>
                    </div>
            </div>
                <div class="form-group" >
                    <label class="col-sm-2 control-label" for="email">email</label>
                    <div class="col-sm-10">
                <input type="email" class="form-control" id="email">
                    </div>
            </div>
                <div class="form-group">
                    <label for="password1" class="col-sm-2 control-label" >Password</label>
                    <div class="col-sm-10">
                <input type="password" class="form-control" id="password1">
            </div>           	
            </div>
                <div class="form-group">
                    <label for="password2" class="col-sm-2 control-label" >Again</label>
                    <div class="col-sm-10">
                <input type="password" class="form-control" id="password2">
            </div>
                </div>
            </form>
        </div>
    </div>
    
    <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
	<!-- IE10 viewport bug workaround -->
	<script src="js/ie10-viewport-bug-workaround.js"></script>
	
	<!-- Placeholder Images -->
	<script src="js/holder.min.js"></script>
	
</body>
</html>
